body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-content: center;
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgb(0, 0, 50);
}

.image-container {
  position: relative;
  max-width: 500px;

}

.main-image {
  height: 100vh;
  max-width: 500px;

}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 63%;
  top: 25%;
  background-color: rgba(0, 0, 50, 0.5);
  width: 100%;
}

.logo-image {
  max-height: 100px;
}

.logo-text {
  color: whitesmoke;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: 4vw;
}

.photographer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
}

.form-container {

  height: 100vh;
  max-width: 800px;
  background-color: whitesmoke;


}

h3 {
  font-size: 1.5rem;
  margin: 100px 50px;
}

form {

  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 50px;
  max-width: 800px;
}

legend {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-row-1,
.form-row-2,
.form-row-3 {
  display: flex;
  margin: 10px 0;

}

.form-row-1 {
  margin-top: 20px;
}

.form-row-3 {
  margin-bottom: 20px;
}

label,
input {
  display: flex;

}

input {
  padding: 5px;
  margin: 2px 80px 2px 0;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
}

label {
  font-size: small;
}

.btn {
  margin: 50px 50px 10px 50px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 0, 50);
  border-width: 0px;
  font-size: large;
}

.log-in {
  margin-left: 50px;
  font-size: 1rem;
}